<section class="view__list">
<div class="products">
    <h2 class="products__title">Valor em R$</h2>
    <ul class="list">
    <ul class="products__list">
    {{#each produto as |produtos|}} 
    <li class="products__list--item">{{produtos.title}}</li>
    {{/each}}
    </ul>
    <ul class="products__list">
    {{#each produto as |produtos|}} 
    <li class="products__list--price">R$ {{produtos.price}}</li>
    {{/each}}
    </ul>
    </ul>
</div>
<div class="products">
    <h2 class="products__title">Quantidade em Kg</h2>
    <ul class="list">
    <ul class="products__list">
    {{#each produto as |produtos|}} 
    <li class="products__list--item">{{#link-to 'edit' produtos.id}}{{produtos.title}}{{/link-to}}</li>
    {{produtos.id}}
    {{/each}}
    </ul>
    <ul class="products__list">
    {{#each produto as |produtos|}} 
    <li class="products__list--price">{{produtos.instock}}</li>
    {{/each}}
    </ul>
    </ul>
</div>
</section>