<form class="products__form">
    <label class="products__label" for="title">Nome do Produto:</label>{{model.name}}
    {{input class="products__entry" name="title" id="title" type="text" placeholder="Nome do Produto" value=model.name}}
    <label class="products__label" for="price">Valor do produto:</label>    
    {{input class="products__entry" name="price" id="price" type="text" placeholder="Valor do Produto" value=model.price}}
    <label class="products__label" for="instock">Quantidade em Kg:</label>        
    {{input class="products__entry" name="instock" id="instock" type="text" placeholder="Quantidade em Kg" value=model.weight}}
    <button class="products__submit" {{action 'salvar' model}}>Salvar</button>
</form>